/* Resets */
body, p {
    margin: unset;
}

h1 {
    margin: unset;
    font-size: unset;
    font-weight: unset;
}

a {
    color: unset;
    text-decoration: unset;
}

/* Layouts */
.wrapper {
    width: 960px;
    margin: 0 auto;
}

/* Design */
body {
    background-image: url(images/bg.png);
}

.header {
    padding: 60px 0;
}

.header .icon {
    background-color: black;
    width: 200px;
    height: 200px;
    /* 태생이 inline level 요소인 a요소를 block level로 강제! */
    display: inline-block;
    text-align: center;
    color: white;
    line-height: 200px;
    border-radius: 50%;
    vertical-align: top;
}

.header .icon.logo {
    background-image: url(images/logo.png);
    text-indent: -9999px;
}

.header .icon:hover {
    text-indent: -9999px;
}

.header .icon.lemon        { color: yellow; }
.header .icon.lemon:hover  { background-image: url(images/lemon.png); }

.header .icon.orange       { color: orange; }
.header .icon.orange:hover { background-image: url(images/orange.png); }

.header .icon.jamong       { color: orangered; }
.header .icon.jamong:hover { background-image: url(images/jamong.png); }

.contents {
    background-color: white;
    padding: 60px;
    border-radius: 60px;
}

.contents h1 {
}

.contents h1 span {
}

.contents p {
}

.footer {
    box-shadow: inset 0 0 20px gold;
}